.pagina h1 {
    position: absolute;
    left: 30px;
    color: rgb(21, 118, 157);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    top: -5px;
}

.Corpo {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    top: 0px;
    background-color: pink;
}

.Corpo img {
    width: 100%;
    height: 100%;
    position: fixed;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 60px;
    left: 10px;
    width: 80%;
    height: 90%;
}